@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <img src="~/images/Alunos.jpeg" alt="alunos" width="400" height="300" asp-append-version="true" />
</div>
<div class="text-center">
    <a type="submit" class="btn btn-primary mt-3" class="nav-link text-dark" asp-area="" asp-controller="Alunos" asp-action="Index">Alunos</a>
</div>
