@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <br />
    <img src="~/images/Alunos.jpeg" alt="alunos" width="400" height="300" asp-append-version="true" />
</div>
<div class="text-center">
    <a type="submit" class="btn btn-primary mt-3" class="nav-link text-dark" asp-area="" asp-controller="Alunos" asp-action="Index">Alunos</a>
=======
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
>>>>>>> 23dde132088ba3ad476ff30ee0c52779fe2cbcfb
</div>
